#home {
    color: aqua;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 5px;
    padding-right: 5px;
}

#homeButton {
    color: cornflowerblue;
    font-style: normal;
    cursor: pointer;
    font-size: xx-large;
}

.errorMessage {
    color: red;
}

textarea {
    resize: none;
  }
  

container {
    align-items: center;
    color:aquamarine;
    overflow: auto;
}

.community {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.community img {
    max-width: 200px;
    margin-right: 20px;
}
.community-name {
    font-size: 36px;
    margin-right: 20px;
}

.creation-date {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

button.largeButton {
    padding: 10px 10px;
    border:none;
    border-radius: 12px;
    background-color: cornflowerblue;
    font-size: 16px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin: 5px;
}

button.largeButton:hover {
    background-color: lightskyblue;
    color: black;
}

/*.communityButton {*/
/*    padding: 6px;*/
/*    margin: 0px 2px 0px;*/
/*    border-radius: 20px;*/
/*    font-size: 16px;*/
/*    cursor: pointer;*/
/*}*/

.tag {
    background-color: green;
    color: white;
    padding: 4px 8px;
    border-radius: 12px;
    box-sizing: content-box;
    font-family: Consolas;
}

.upvote-button {
    display: inline-block;
    margin-left: 10px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
.tst {
    display: inline-block;
    margin-left: 10px;
    background-color: #ccc;
    color: #666;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: not-allowed;
}

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}
  
form {
    margin: auto;
    width: 50%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
  
label {
    display: block;
    margin-bottom: 10px;
}
  
input[type=text], input[type=password] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
  
input[type=submit] {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}
  
input[type=submit]:hover {
    background-color: #3e8e41;
}

/***************************** POSTS ***************************/
/***************************************************************/

.post {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .post .title {
    color: #0079d3;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .post .title:hover {
    text-decoration: underline;
  }
  
  .post .author {
    color: #666;
    font-size: 14px;
  }
  
  .post .author a {
    color: #666;
    text-decoration: none;
  }
  
  .post .author a:hover {
    text-decoration: underline;
  }
  
  .post .content {
    color: #333;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .post .upvotes {
    color: #666;
    font-size: 14px;
  }
  
  .post .creation_date {
    color: #666;
    font-size: 14px;
  }
  
  .post .subreddit {
    color: #666;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .post .subreddit:hover {
    text-decoration: underline;
  }


  
  
