<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<script type="text/javascript" src="../static/js/main.js"></script>
    <div id="header">
        <a href="home">
            <button id="homeButton">Readdit</button>
        </a>
        {% if 'user' in session %}
        <div>
            <a href="{{ url_for('profile', user_id=session['user_id']) }}" style="text-decoration: none">
                <button id="profileButton" class="largeButton">{{session["user"]}}</button>
            </a>
            <a href="logout" style="text-decoration: none">
                <button id="logOutButton" class="largeButton">Log out</button>
            </a>
        </div>
        {% else %}
        <div>
            <a href="login" style="text-decoration: none">
                <button id="loginButton" class="largeButton"> Log in </button>
            </a>
            <a href="signup" style="text-decoration: none">
                <button id="signUpButton" class="largeButton"> Sign up </button>
            </a>
        </div>
    {% endif %}
    </div>
    <hr>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>