{% extends "base.html" %}
{% block title %}Community Search{% endblock %}

{% block header %}
{% endblock %}
{% block body %}
    <p><h1>Communities :</h1></p>
    {% for c in communities %}
        <p style="display: flex; justify-content: center;">
            <a href="{{ url_for('community', community_id=c['community_id']) }}">
                <button class="communitySearch" >
                    {{ c['name'] }}
                </button>
            </a>
        </p>
    {% endfor %}

{% endblock %}