<!DOCTYPE html>
<html>
<head>
	<title>Community</title>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<script type="text/javascript" src="../static/js/community.js"></script>
	<style>

		.community {
			display: flex;
			align-items: center;
			margin-bottom: 30px;
		}
		.community img {
			max-width: 200px;
			margin-right: 20px;
		}
		.community-name {
			font-size: 36px;
			margin-right: 20px;
		}

		.creation-date {
			font-size: 14px;
			color: #666;
			margin-bottom: 20px;
		}
	</style>
</head>
<body>

	<div class="community">
		<img src="[insert image URL here]" alt="Community image">
		<h1 class="community-name">[insert community name here]</h1>
		<button class="largeButton">Follow</button>
	</div>

	<p class="description">[insert description here]</p>
	<div class="tags">
		<span class="tag">[insert tag here]</span>
		<span class="tag">[insert tag here]</span>
		<span class="tag">[insert tag here]</span>
	</div>
	<p class="creation-date">Created on [insert date here]</p>

</body>
</html>