{% extends "base.html" %}
{% block title %}Community{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
	<div class="community">
		<img src="[insert image URL here]" alt="Community image">
		<h1 class="community-name">{{ community[0]['name'] }}</h1>
		<p>Followers: {{ followers }}</p>
		<button class="largeButton">Follow</button>
	</div>
	<p class="description">{{ community[0]['description'] }}</p>
	<p>{{ community[0]['tag'] }}</p>
	<p class="creation-date">Created on {{ community[0]['creation_date'] }}</p>

	{% if posts %}
        <div class="container">
            {% for post in posts %}
			<div class="post">
				<a href="{{ url_for('post', post_id=post['post_id']) }}" class="title">{{ post['title'] }}</a>
				<p class="author">Posted by <a href="{{ url_for('profile', user_id=post['user_id']) }}">{{ post['username'] }}</a></p>
				<p class="content">{{ post['content'] }}</p>
				<p class="upvotes">Upvotes: {{ post['upvotes'] }}</p>
                <p class="upvotes"> Replies: {{ post['replies'] }}</p>
				<p class="creation_date">Posted on {{ post['creation_date'] }}</p>
				<a href="{{ url_for('community', community_id=post['community_id']) }}" class="community">{{ post['name'] }}</a>

			  </div>
            {% endfor %}
        </div>
        {% endif %}

{% endblock %}