{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
    </div>
    <div style="display: flex; flex-direction: column; flex-wrap: wrap">
        <div style="display: flex; flex-direction: row; justify-content: flex-start">
            <ul  id="communitiesList" name="communitiesList">
                <h3>Communities</h3>
                <li style="list-style: none">List Item exemple</li>
            </ul>
        </div>
        {% if posts %}
        <div class="container">
            {% for post in posts %}
            <div class="post">
				<a href="{{ url_for('post', post_id=post['post_id']) }}" class="title">{{ post['title'] }}</a>
				<p class="author">Posted by <a href="{{ url_for('profile', user_id=post['user_id']) }}">{{ post['username'] }}</a></p>
				<p class="content">{{ post['content'] }}</p>
				<p class="upvotes">Upvotes: {{ post['upvotes'] }}</p>
				<p class="creation_date">Posted on {{ post['creation_date'] }}</p>
				<a href="{{ url_for('community', community_id=post['community_id']) }}" class="community">{{ post['name'] }}</a>
			  </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}