{% extends "base.html" %}
{% block title %}Log in{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
	<div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
        <script src="main.js"></script>
        <form class=customForm id="loginForm" method="post" action="/login" onsubmit="return encryptPassword()">
            <p>Username: </p>
            <p><input type="text" name="username"></p>
            <p>Password: </p>
            <p><input id="password" type="password" name="password"></p>
            <!--On sépare le mdp entré par l'utilisateur de celui encrypté par la fonction JS
            autrement le mdp encrypté apparait brièvement dans le champ de saisie du mdp sur la page web
            pcq la valeur entrée par l'utilisateur est modifiée pour celle encryptée avant que le formulaire
            ne soit envoyé-->
            <input id="encryptedPassword" type="hidden" name="encryptedPassword">
            <p><input type="submit" value="submit"></p>
            <!--Si le serveur détecte une erreur dans le log in-->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <p class="errorMessage">{{msg}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
    </div>
{% endblock %}