{% extends "base.html" %}
{% block title %}Log in{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
	<div>
        <form action="/login" method="post">
            <p>Username: </p>
            <p><input type="text" name="username"></p>
            <p>Password: </p>
            <p><input type="text" name="password"></p>
            <p><input type="submit" value="submit"></p>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <p id="errorLogIn">{{msg}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
    </div>
{% endblock %}