{% extends "base.html" %}
{% block title %}Post{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
	<h1><a href="{{ url_for('community', community_id=post[0]['community_id']) }}" >{{ post[0]['community'] }}</a></h1>

	<div class="post">
		<h2>Posted by <a href="{{ url_for('profile', user_id=post[0]['user_id']) }}">{{ post[0]['username'] }}</a> on {{ post[0]['creation_date']}}</h2>
		<p>{{ [post[0]['content']] }}</p>
		<p>Upvotes: <span class="rating">{{ post[0]['upvotes']}}</span><button class="upvote-button">Upvote</button></p>
        <p class="creation_date">Posted on {{ post[0]['creation_date'] }}</p>
	</div>

	{% if comments %}
        <div class="container">
            {% for comment in comments %}
			<div class="post">
				<p class="author">Posted by <a href="{{ url_for('profile', user_id=comment['user_id']) }}">{{ comment['username'] }}</a></p>
				<p class="content">{{ comment['content'] }}</p>
				<p class="upvotes">Upvotes: {{ comment['upvotes'] }}<button class="upvote-button">Upvote</button></p>
				<p class="creation_date">Posted on {{ comment['creation_date'] }}</p>
			  </div>
            {% endfor %}
        </div>
        {% endif %}

<div style="text-align: center;">
  <button class="largeButton">Post a reply</button>
</div>
{% endblock %}
