<!DOCTYPE html>
<html >
<head>
	<title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<script type="text/javascript" src="../static/js/community.js"></script>
</head>
<body>

	<h1>User Profile</h1>

	<h2>Username: [insert username here]</h2>

	<p>Rating: [insert rating here]</p>

	<p>Date of creation: [insert date of creation here]</p>

	<h3>Posts:</h3>
	<ul>
		<li>[insert post 1 here]</li>
		<li>[insert post 2 here]</li>
		<li>[insert post 3 here]</li>
		<!-- Repeat as necessary -->
	</ul>

	<h3>Comments:</h3>
	<ul>
		<li>[insert comment 1 here]</li>
		<li>[insert comment 2 here]</li>
		<li>[insert comment 3 here]</li>
		<!-- Repeat as necessary -->
	</ul>

</body>
</html>